body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #ee7202;
	background-image: url('/images/sonne.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: fixed;
}

a {
	color: #fff;

	&:hover {
		color: #ee7202;
		text-decoration: none;
	}
}
hr {
	margin-bottom: 1.5em;
	background-image: url('/images/blatt.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	height: 27px;
	border: 0;
}
p {
	margin-bottom: 1em;
	line-height: 1.25;
}
.only-smartphone {
	display: none;
}

#faust {
	position: relative;
	z-index: 1;
	text-align: center;

	img {
		width: 100%;
		max-width: 30em;
	}
}

#container {
	position: relative;
	z-index: 2;
	margin: auto;
	margin-top: 4.45em;
	margin-bottom: 10em;
	padding: 2em;
	max-width: 55em;
	color: #fff;
	background-color: #000;

	.skew {
		position: absolute;
		left: 0;
		z-index: -1;
		background-color: #000;
		width: 100%;
		height: 8em;
		@include skew(0, 5deg);
	}
	header {
		background-color: #000;

		.skew {
			top: -5em;
		}
		h1 {
			position: relative;
			top: -.2em;
			text-align: center;
			font-family: 'Politics Head', sans-serif;
			font-size: 6em;
			font-weight: 900;
			@include rotate(-2deg);
		}
		nav {
			text-align: center;
			font-family: Arvo, sans-serif;
			font-weight: 700;
			font-size: 1.4em;

			li {
				display: inline-block;

				&.active a {
					color: #ee7202;
				}
				a {
					display: block;
					text-decoration: none;
					padding: 1em;
				}
			}
		}
	}
	main {
		article {
			position: relative;
			margin-bottom: 2em;

			aside {
				float: left;
				height: 100%;
			}
			h2 {
				display: inline;
				font-family: Arvo, sans-serif;
				font-weight: 700;
				font-size: 4em;
				margin-right: .4em;
				word-wrap: break-word;
				max-width: 100%;
				line-height: 1.1;
			}
			p {
				text-align: justify;
			}
		}
	}
	footer {
		text-align: center;

		> *:not(.skew) {
			position: relative;
			top: 3em;
		}
		.skew {
			bottom: -5em;
		}
	}
}