@font-face {
	font-family: 'Politics Head';
	src: url('webfonts/PoliticsHead/politicsheadv1_9-webfont.eot');
	src: url('webfonts/PoliticsHead/politicsheadv1_9-webfont.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/PoliticsHead/politicsheadv1_9-webfont.woff') format('woff'),
		 url('webfonts/PoliticsHead/politicsheadv1_9-webfont.ttf') format('truetype'),
		 url('webfonts/PoliticsHead/politicsheadv1_9-webfont.svg#politics_headbold') format('svg');
	font-weight: 900;
	font-style: normal;
}